@page "/dashboared"
@rendermode InteractiveServer
<div class="d-flex justify-content-center align-items-center">
    <div class="card border-success mb-3" style="width: 29rem; height: 15rem">
        @if (!showDefinition)
        {
           @*  <div class="card-header border-success text-center" style="background-color: #dcdcdc"></div> *@
            <div class="card-body">
                <div class="text-end">
                    <label style="background-color:#dcdcdc">New Word</label>
                </div>               
                <div class="text-center">
                    <h5 class="card-title">deem</h5>
                    <p>(verb)</p>
                    <p>DEEM</p>
                </div>                               
            </div>
            <div class="card-footer border-success text-center" style="background-color:#dcdcdc">
                <button style="display:inline" @onclick="ToggleCard">Press to see meaning <MudIcon Icon="@Icons.Material.TwoTone.ArrowCircleRight" Style="font-size: 2rem;" /></button>
            </div>
        }
        else
        {
            <div class="card-body">
                <div>
                    <p class="card-title" style="color:red; display:inline">Definition: </p>
                    <p class="card-text" style="display:inline; font-size: 13px;">Judge; consider</p>
                </div>
                <div>
                    <p class="card-text" style="color:red; display:inline">Usage:</p>
                    <p class="card-text" style="display:inline; font-size: 13px;">"You can take the black belt exam when I deem you ready, and not a moment before," said the karate instructor.</p>
                </div>
                <div>
                    <p class="card-text" style="color:red; display:inline">Related Words:</p>
                    <p class="card-text" style="display:inline; font-size: 13px;">Assay (examine, analyze, judge)</p>
                </div>
                <div>
                    <p class="card-text" style="color:red; display:inline">More Info:</p>
                    <p class="card-text" style="display:inline; font-size: 13px;"><b>Deem</b>, which shares an Old English root with doom, originally meant "to pronounce judgement" -in the 17th century, some judges were called "deemsters."</p>
                </div>
            </div>
            <div class="card-footer border-success text-center" style="background-color: #dcdcdc">
                <button @onclick="ToggleCard"><MudIcon Icon="@Icons.Material.Filled.ChevronLeft" Style="font-size: 2rem;" /></button><button class="btn">I knew this word <MudIcon Icon="@Icons.Material.Filled.ChevronRight" Style="font-size: 2rem;" /></button>
            </div>
        }
    </div>
</div>
@code {
    private int currentCount = 0;
    private bool showDefinition = false;

    private void ToggleCard()
    {
        showDefinition = !showDefinition;
    }
}

