<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="IELTS.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link href="/lib/datatables/css/dataTables.dataTables.min.css" rel="stylesheet" />   
    <HeadOutlet />
</head>

<body>
    <Routes />
    
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="_framework/blazor.web.js"></script>
    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/popper/js/popper.min.js"></script>
    <script src="/lib/datatables/js/dataTables.min.js"></script>
    <script src="/lib/fontawesome-iconpicker/js/fontawesome-iconpicker.min.js"></script>
    <script src="/lib/site.js"></script>
</body>

</html>
